<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>No Fixed Plans</h1>
      <h3>We're building a Software Factory for e-commerce SaaS.</h3>
      <hr>
      <p>Through a combination of new product development & strategic acquisitions, we are building a portfolio that
        will allow us to quickly build, deploy, and scale vertical e-commerce SaaS products through our innovative
        Software
        Product Line
        approach to development.
      </p>
      <p>We don't make your e-commerce platform, we make your e-commerce platform better.</p>
      <a href="mailto:griffin@nofixedplans.xyz" class="btn btn-primary btn-xl page-scroll">Contact</a>
    </div>
  </div>
</header>
